{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <h1>Participant index</h1>
{% for participant in participants %}
    <table class="table">
        <tbody>
        <tr>
            <td><img src="{{ asset('uploads/' ~ participant.getPhoto()) }}" alt="ma photo"></td>
            <th>
                <h1>{{ participant.pseudo }}</h1>
            </th>

        </tr>
        <tr>
            <th>Prenom : </th>
            <td>{{ participant.prenom }}</td>
        </tr>
        <tr>
            <th>Nom : </th>
            <td>{{ participant.nom }}</td>
        </tr>

        <tr>
            <th>Telephone : </th>
            <td>{{ participant.telephone }}</td>
        </tr>
        <tr>
            <th>Email : </th>
            <td>{{ participant.mail }}</td>
        </tr>
        <tr>
            <th>Ville de rattachement : </th>
            <td>{{ participant.site.nom }}</td>
        </tr>

        </tbody>
    </table>

                    <a href="{{ path('participant_show', {'id': participant.id}) }}">show</a>
                    <a href="{{ path('participant_edit', {'id': participant.id}) }}">edit</a>

        {% else %}

        {% endfor %}>

    <a href="{{ path('participant_new') }}">Create new</a>
    <button type="reset">Retour</button>
{% endblock %}
