{% extends 'template.html.twig' %}

{% block title %}Annuler une sortie{% endblock %}

{% block body %}
    <h1>Annuler une sortie</h1>

    <table class="table">
        <tbody>

        <tr>
            <th>Nom de la sortie :</th>
            <td>{{ sortie.nom }}</td>
        </tr>
        <tr>
            <th>Date de la sortie : </th>
            <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('d/m/Y') : '' }}</td>
        </tr>
            <th>Ville organisatrice : </th>
            <td>{{ sortie.site.nom }}</td>
        </tr>
        <tr>
            <th>Lieu : </th>
            <td>
                {{ sortie.lieu.nom}}
                {{ sortie.lieu.rue}}
                {{ sortie.lieu.ville.codePostal}}
                {{ sortie.lieu.ville.nom}}
            </td>
        </tr>
        <tr>
            <th>Motif : </th>
            <td>
                {{ form_start(form) }}
                {{ form_widget(form.nom, { 'attr' : { 'style':'display:none'}}) }}
                {{ form_widget(form.dateHeureDebut, { 'attr' : { 'style':'display:none'}}) }}
                {{ form_widget(form.dateLimiteInscription, { 'attr' : { 'style':'display:none'}}) }}
                {{ form_widget(form.nbrePlacesMax, { 'attr' : { 'style':'display:none'}}) }}
                {{ form_widget(form.duree, { 'attr' : { 'style':'display:none'}}) }}
                {{ form_widget(form.description, { 'attr' : { 'style':'display:none'}}) }}
{#                {{ form_widget(form.lieu, { 'attr' : { 'style':'display:none'}}) }}#}
                {{ form_widget(form.publier, { 'attr' : { 'style':'display:none'}}) }}
                {{ form_widget(form.supprimer, { 'attr' : { 'style':'display:none'}}) }}
{#                {{ form_widget(form.villes, { 'attr' : { 'style':'display:none'}}) }}#}
                {{ form_widget(form.modifAnnul) }}

            </td>
        </tr>

        </tbody>
    </table>


    {{ form_widget(form.enregistrer) }}
    {{ form_widget(form.annuler) }}
    {{ form_end(form) }}
    <br>



{% endblock %}
