{% extends 'base.html.twig' %}

{% block title %}Sortie{% endblock %}

{% block body %}
    <h1>Afficher une sortie</h1>

    <table class="table">
        <tbody>

            <tr>
                <th>Nom de la sortie :</th>
                <td>{{ sortie.nom }}</td>
            </tr>
            <tr>
                <th>Date et heure de la sortie : </th>
                <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date limite d'inscription : </th>
                <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Nombre de places : </th>
                <td>{{ sortie.nbrePlacesMax }}</td>
            </tr>
            <tr>
                <th>Durée : </th>
                <td>{{ sortie.duree }} minutes </td>
            </tr>

            <tr>
                <th>Description et infos : </th>
                <td>{{ sortie.description }}</td>
            </tr>
            <tr>
                <th>Ville organisatrice : </th>
                <td>{{ sortie.site.nom }}</td>
            </tr>
            <tr>
                <th>Lieu : </th>
                <td>{{ sortie.lieu.nom}}</td>
            </tr>
            <tr>
                <th>Rue : </th>
                <td>{{ sortie.lieu.rue}}</td>
            </tr>
            <tr>
                <th>Code postal : </th>
                <td>{{ sortie.villes.codePostal}}</td>
            </tr>
            <tr>
                <th>Latitude : </th>
                <td>{{ sortie.lieu.latitude}}</td>
            </tr>
            <tr>
                <th>Longitude : </th>
                <td>{{ sortie.lieu.longitude}}</td>
            </tr>
        </tbody>
    </table>

    <div>
        Liste des participants inscrits :
        <table class="table">
            <tbody>

            <tr>
                <th>Pseudo</th>
                <th>Nom</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>

            </tbody>
        </table>

    </div>

    <a href="{{ path('sortie_index') }}">back to list</a>

    <a href="{{ path('sortie_edit', {'id': sortie.id}) }}">edit</a>

    {{ include('sortie/_delete_form.html.twig') }}
{% endblock %}
