{% extends 'template.html.twig' %}
{% block title %}Accueil{% endblock %}

{% block body %}

    <div>
        Date du jour : {{"now"|date('d/m/Y')}} <br>
        Participant : {{ app.user.pseudo }}
    </div>

    <h3>Filtrer les sorties</h3>

    <form action="{{ path('accueil')}}" method="post">
        <label for="site">Site : </label>
        <select type="text" name="site" id="site">
            {% for s in sites %}
        <option >{{ s.nom }} </option>

        </select>
        {% endfor %}
            <br>

        <label for="nom">Le nom de la sortie contient : </label>
        <input type="search" name="nom" id="nom"> <br>

        <label for="dateDebut">Entre </label>
        <input type="date" name="dateDebut" id="dateDebut">

        <label for="dateFin"> et </label>
        <input type="date" name="dateFin" id="dateFin"> <br>

        <input type="checkbox" name="orga" id="orga">
        <label for="orga"> Sorties dont je suis l'organisateur/trice </label><br>

        <input type="checkbox" name="inscrit" id="inscrit">
        <label for="inscrit"> Sorties auxquelles je suis inscrit/e </label><br>

        <input type="checkbox" name="pasInscrit" id="pasInscrit">
        <label for="pasInscrit"> Sorties auxquelles je ne suis pas inscrit/e </label><br>

        <input type="checkbox" name="passe" id="passe">
        <label for="passe"> Sorties passées </label><br>

        <button type="submit">Rechercher</button>
{#        <a href="{{ path('select', {'id': s.id }) }}">Rechercher </a>#}
{#        {% endfor %}#}

    </form>

<table class="table">
    <tbody>
    <tr>
        <th>Nom de la sortie</th>
        <th>Date de la sortie</th>
        <th>Clôture</th>
        <th>inscrits/places</th>
        <th>Etat</th>
        <th>Inscrit</th>
        <th>Organisateur</th>
        <th>Actions</th>
    </tr>
    <tr>
        {% for s in sorties %}
        <td>{{ s.nom }}</td>
{#        <td>{{ s.dateHeureDebut | format_datetime('full', 'short', locale='fr')}}</td>#}
        <td>{{ s.dateHeureDebut |date('d-m-Y H:i')}}</td>
        <td>{{ s.dateLimiteInscription | date('d/m/Y')}}</td>
        <td> {{ s.nbrePlacesRestantes }}/{{ s.nbrePlacesMax }}</td>
        <td>{{ s.etat.libelle }}</td>
        <td> a faire </td>
        <td>{{ s.organisateur.pseudo }}</td>
        <td>
{#            possibilite d'afficher les sorties peut importe leur etat#}
            <a href="{{ path('sortie_show', {'id': s.id }) }}">Afficher</a>

{#           si l'organisateur est le user#}
            {% if s.organisateur.pseudo == app.user.pseudo %}
{#                et si l'etat est créée, lien vers modifier et publier#}
                {% if s.etat.libelle == 'Créée'%}
                    <a href="{{ path('sortie_edit', {'id': s.id }) }}">Modifier</a>
                    <a href="{{ path('sortie_publier', {'id': s.id }) }}">Publier </a>
                {% endif %}
{#                si l'état est ouverte line vers annuler#}
                {% if s.etat.libelle == 'Ouverte'%}
                    <a href="{{ path('sortie_annuler', {'id': s.id }) }}">Annuler</a>
                {% endif %}

            {% endif %}

{#            TODO si le user n'est pas anonyme#}
{#            si la sortie est ouverte et la date ok et qu'il reste des places alors on peut s'y inscrire#}
            {% if  s.etat.libelle == 'Ouverte' %}
                 {% if  s.dateLimiteInscription > date() %}
                     {% if s.nbrePlacesRestantes >0 %}
                    <a href="{{ path('sortie_inscrire', {'idUser': app.user.id , 'idSortie': s.id })}}">S'inscrire </a>
                    {% endif %}
                 {% endif %}
            {% endif %}

{#            si la sortie n'est pas commencée et que le user est inscrit , alors on peut se desister#}
            {% if  s.dateHeureDebut > date() %}
                {% for u in users %}
                    {% if u.id == app.user.id %}
                         <a href="{{ path('sortie_desister', {'idUser': app.user.id , 'idSortie': s.id })}}">Se désister </a>
                    {% endif %}
                {% endfor %}
            {% endif %}


        </td>


    </tr>
    {% endfor %}
    </tbody>
</table>


<a class="button" href="{{ path('sortie_new', {'id': app.user.id }) }}">CREER UNE SORTIE </a>

{% endblock %}