<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block titre %} {% endblock %}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css" integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="{{ asset("css/style.css") }}">-->
</head>
<body>
{% set route_name = app.request.attributes.get('_route') %}

{% block navbar %}

<div class="top-bar ">

    <div class="top-bar-left ">

        <div class="row">
            <a href="{{ path('accueil') }}">
            <img src="{{ asset('images/eni.png') }}" width="100" height="100"></a>
        </div>

    </div>

    <div class="top-bar-right show-for-medium">

        <ul class="vertical medium-horizontal menu">

            {%  if is_granted('ROLE_ADMIN') %}

                <li><a class="nav-link" href="{{path('admin_index')}}">Espace Admin</a></li>

{#            <li><a class="nav-link" href="{{path('ville')}}">Villes</a></li>#}
{#            <li><a class="nav-link" href="{{path('site_index')}}">Sites</a></li>#}
{#            <li><a class="nav-link" href="{{path('app_register')}}">Enregistrer un utilisateur</a></li>#}

            {% endif %}

            <li><a class="nav-link" href="{{path('accueil')}}">Accueil</a></li>


            {%  if is_granted('ROLE_USER') %}

                <li><a class="nav-link" href="{{path('user_edit',{'id': app.user.id })}}">Mon profil</a></li>
                <li><a class="nav-link" href="{{path('app_logout' )}}">Se déconnecter</a></li>


            {% else %}

                <li><a class="nav-link" href="{{path('app_login')}}">Se connecter</a></li>



            {% endif %}
        </ul>
    </div>

</div>

{% endblock %}

<section class="container">
    <div class="callout">

        <div class="float-center">
            {% block body %} {% endblock %}
        </div>

    </div>

</section>


</body>
</html>
