{% extends 'template.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>Participant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ user.prenom }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ user.telephone }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ user.mail }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ user.pseudo }}</td>
            </tr>
            <tr>
                <th>Mdp</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ user.photo }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_index') }}" class="button">back to list</a>

    <a href="{{ path('user_edit', {'id': user.id}) }}" class="warning button">edit</a>

    {% if is_granted('ROLE_ADMIN') %}
        {{ include('user/_delete_form.html.twig') }}
    {% endif %}

{% endblock %}
